
	<md-content class="Heading">
	Checkout
	<md-icon md-svg-src = "" class= "Heading"></md-icon>
	</md-content>
<div class="ForumField">
<md-content>

	<input-container class= "NameInput" >
	<label>Full Name</label>
	<icon md-svg-src = "" class= "name"></icon>
	<input ng-model="user.name" type="text">
	</input-container>

	<input-container class= "AddressInput">
	<label>Address</label>
	<icon md-svg-src = "" class= "name"></icon>
	<input ng-model="user.address" type="text">
	</input-container>

	<input-container class= "EmailInput">
	<label>Email</label>
	<icon md-svg-src = "" class= "name"></micon>
	<input ng-model="user.email" type="text">
	</input-container>

	<input-container class= "NumberInput">
	<label>Phone Number</label>
	<icon md-svg-src = "" class= "name"></icon>
	<input ng-model="user.number" type="text">
	</input-container>

	<input-container class= "CommentInput">
	<label>Additional Comments</label>
	<icon md-svg-src = "" class= "name"></icon>
	<input ng-model="user.comments" type="text">
	</input-container>

	<button class="ScheduleBtn" onclick=sendText()>
	Schedule Your Test Drive
	</button>
</md-content>
</div>

